.type-effect-container{
  display: flex;
  .terminal-cursor {
    position: relative;
  }
  .terminal-cursor::after {
    content: "";
    position: absolute;
    top: 3px;
    right: -15px;
    display: inline-block;
    background-color: #606060;
    vertical-align: top;
    width: 8px;
    /* Set height to the line height of .text */
    height: 14px;
  }
}
