<div class="typing-main-container">
  <button *ngIf="typedCount < textArray.length" class="skip-button" type="button" (click)="skip()">[skip &#8629;]</button>
  <div *ngFor="let text of textArray; let i = index">
    <ng-container *ngIf="i <= typedCount">
      <div class="typing-container">
        <div class="typing-prefix-container">
          <span>{{text.prefix}}</span>
          <!-- add empty space -->
          <span>&nbsp;</span>
        </div>
        <div>
          <ng-container *ngIf="i < typedCount; else typing">
            <a *ngIf="text.link; else plainText" [href]="text.link" target="_blank" rel="noopener noreferrer">{{text.text}}</a>
            <ng-template #plainText><span>{{text.text}}</span></ng-template>
          </ng-container>
          <ng-template #typing>
            <app-type-effect [text]="text.text" (typingEnd)="onTypingEnd(i)"></app-type-effect>
          </ng-template>
        </div>
      </div>
    </ng-container>
    <br/>
  </div>
</div>
