.toolbar {
  display: flex;
  background-color: #333;
  .tab {
    width: 33%;
    padding: 8px 12px;
    cursor: pointer;
    text-align: center;
    &:hover {
      background-color: rgba(85, 85, 85, 0.5);
    }
    &.active {
      background-color: #555;
    }
  }
}
.toolbar-brand {
  display: flex;
  background-color: #555;
  justify-content: center;
  .tab-brand{

  }
}
